doctype 5
html(lang="en", xml:lang="en", xmlns="http://www.w3.org/1999/xhtml")
  head
    title Node Slide
    link(href="http://feeds.feedburner.com/nodeslide", rel="alternate", title="RSS", type="application/rss+xml")
    link(href="stylesheets/screen.css", style="text/css", rel="stylesheet")
    link(href="stylesheets/nodeslide.css", style="text/css", rel="stylesheet")
  body
    .container#header
      include header
    .container
      .body.span-19
        block content
      #sidebar.sidebar.span-5.last
        include sidebar
      .clear
      .footer
        include footer
