doctype 5
html(lang="en")
  head
    title Node Slide
    link(href="stylesheets/screen.css", style="text/css", rel="stylesheet")
    link(href="stylesheets/nodeslide.css", style="text/css", rel="stylesheet")
  body
    block content
