.module
  .feed
    a(href="http://feeds.feedburner.com/nodeslide", title="Subscribe to my feed", rel="alternate", type="application/rss+xml")
      img(src="http://www.feedburner.com/fb/images/pub/feed-icon32x32.png", alt="", style="border:0")
    a(href="http://feeds.feedburner.com/nodeslide")
      img(src="http://feeds.feedburner.com/~fc/nodeslide?bg=FF6400&amp;fg=FFFFFF&amp;anim=0", height="26", width="88", style="border:0", alt="")

.module 
  h4 About NodeSlide
  NodeSlide gathers all the latest node.js slides and presentations in one convenient place!
